
.todoApp{
    background: #ffffff;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 #cbcfd6;
    padding: 16px 0;

}
.todoApp_header{
    display: flex;
    flex-flow: row nowrap;
    padding: 0 3%;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 20px;
        font-weight: 300;
        width: 50%;
    }
}

// Component - todoAppForm
.todoAppForm{
background: red;
}

