
.todoApp{
    background: #ffffff;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 #cbcfd6;
    padding: 16px 0;

}



